<Context>
    <Resource name="jdbc/dog_db"
              username="sa"
              password=""
              driverClassName="org.h2.Driver"
              url="jdbc:h2:mem:dogdb;DB_CLOSE_DELAY=-1;"
              type="javax.sql.DataSource"
              minIdle="5"
              maxTotal="20"
            />
</Context>